.card{
    margin-bottom: 10px;
    
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.959)!important;
    transition: all 0.7s linear;
}

.card-bodyy{
    padding: 2rem 0 !important;
    background: #7CA0AF;
    
}

.card-text{
    padding: 0.3rem 1rem;
    font-size: 1.1rem;
}

